body {
  margin: 0;
  font-family: 'Fredoka', sans-serif;

  background: linear-gradient(135deg, #7b4b87, #a86db3);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}


.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.login-box {
  background-color: white;

  padding: 50px;

  border-radius: 20px;

  width: 350px;

  display: flex;
  flex-direction: column;

  gap: 20px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.login-box h1 {
  text-align: center;
  color: #7b4b87;
}

.login-box input {
  padding: 15px;

  border: 1px solid #ccc;

  border-radius: 10px;

  font-size: 16px;
}

.login-box button {
  padding: 15px;

  border: none;

  border-radius: 10px;

  background-color: #ff8716;

  color: white;

  font-size: 18px;

  cursor: pointer;

  transition: 0.3s;
}

.login-box button:hover {
  transform: scale(1.03);
}

.login-box a {
  text-align: center;
  text-decoration: none;
  color: #7b4b87;
}





@media (max-width: 768px) {

    body {
        text-align: center;
    }

    /* HEADER */
    #inicio {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }

    /* FAIXA PRINCIPAL */
    .faixa-apresentacao {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .imagem img {
        width: 100%;
        margin: 0;
    }

    /* CARDS DOS PETS */
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
    }

    /* FOOTER */
    .footer-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    /* CHAT */
    .chat-container {
        width: 95%;
        margin: 20px auto;
    }

    /* LOGIN */
    .login-box {
        width: 90%;
        padding: 20px;
    }
}